<!DOCTYPE html>

<html>

<head>
    {{>header}}
</head>

<body>
    <h1>Homepage</h1>
    {{>navbar}}

    <form>

        <input placeholder="Search weather...">
        <button>Submit</button>

        <p class="messageOne"></p>
        <p class="messageTwo"></p>
        
    </form>

    <script src="./js/script.js"></script>
</body>
</html>